{% extends "recipeBase.html" %}

{% block content %}
<div class="recipe-form centered small">
  {% if urls %}
    <a class="btn" onclick="$('input[name=bookmark]').attr('checked',true)">
      Select all
    </a>
    <form action="{% url 'addBulk' %}" method="post">
      {% for url in urls %}
        <p style="background-color: {{url.color}}">
          <input name="bookmark" type="checkbox" id="bookmark-{{forloop.counter}}" value={{url.url}}/>
          <label for="bookmark-{{forloop.counter}}">{{url.name}}</label>
        </p>
      {% endfor %}
      {% csrf_token %}
      <input class="recipe-form btn btn-success" type="submit"/>
    </form>
  {% elif recipes %}
    {% for recipe in recipes %}
      <div class="recipe-add-row row">
        <div class="recipe-url-add col s11 m11 l11">
          {{recipe}}
        </div>
        <div class="col s1 m1 l1">
          <i id="check-{{forloop.counter0}}" class="green-text hidden material-icons">check</i>
          <i class="tooltipped hidden material-icons"
            data-position="top"
            data-delay="50"
            data-tooltip="Add recipe"
            id="error-{{forloop.counter0}}">
            error
          </i>
          <div id="spinner-{{forloop.counter0}}" class="hidden" style="position: relative;">
            <div class="preloader-wrapper mini active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="done hidden">
      All done!
    </div>
    <script>
      console.log('a')
      var done = 0;
      var links = $('.recipe-url-add')
      var addRecipe = function(links, index) {
        if (index === links.length) {
          $('.done').removeClass('hidden');
          return;
        }
        $('#spinner-' + index).removeClass('hidden');
        $.get('/recipes/addRecipeAsync/', {url: links[index].innerText})
          .done(function(data) {
            $('#spinner-' + index).addClass('hidden');
            if (!data.error) {
              $('#check-' + index).removeClass('hidden');
            } else {
              var error = $('#error-' + index);
              if (data.error.level === 0) {
                error.addClass('green-text');
              } else if (data.error.level === 2) {
                error.addClass('orange-text');
              } else {
                error.addClass('red-text');
              }
              error
                .attr('data-tooltip', data.error.error)
                .removeClass('hidden');
            }
            return addRecipe(links, index + 1)
          }).fail(function(e) {
            $('#spinner-' + index).addClass('hidden');
            var error = $('#error-' + index);
            error.addClass('red-text');
            error
              .attr('data-tooltip', e)
              .removeClass('hidden');
          });
      }
      addRecipe(links, 0);
    </script>
  {% else %}
    Export your chrome or firefox bookmarks as an HTML file and add them here, they will be processed so that you can choose which to import.
    <br>
    <form enctype="multipart/form-data" action="{% url 'processBulk' %}" method="post">

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="bookmarks" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="Chrome or Firefox bookmark HTML file" type="text">
        </div>
      </div>
      <!-- <label class="recipe-form">
        Chrome bookmarks
        <input class="form-control" type="file" name="bookmarks"/>
      </label> -->
      <br>
      {% csrf_token %}
      <input class="recipe-form btn btn-success" value="Process" type="submit"/>
    </form>
  {% endif %}
</div>
{% endblock %}
