{% extends "recipeBase.html" %}

{% block content %}
<div class="centered small">
  {% if urls %}
    <form action="{% url 'addBulk' %}" method="post">
      {% for url in urls %}
        <p style="background-color: {{url.color}}">
          <input name="bookmark" type="checkbox" id="bookmark-{{forloop.counter}}" value={{url.url}}/>
          <label for="bookmark-{{forloop.counter}}">{{url.name}}</label>
        </p>
      {% endfor %}
      {% csrf_token %}
      <input class="recipe-form btn btn-success" type="submit"/>
    </form>
  {% else %}
    Export your chrome bookmarks and add them here, they will be processed so that you can choose which to import.
    <br>
    <form enctype="multipart/form-data" action="{% url 'processBulk' %}" method="post">

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="bookmarks" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="Chrome bookmark HTML file" type="text">
        </div>
      </div>
      <!-- <label class="recipe-form">
        Chrome bookmarks
        <input class="form-control" type="file" name="bookmarks"/>
      </label> -->
      <br>
      {% csrf_token %}
      <input class="recipe-form btn btn-success" value="Process" type="submit"/>
    </form>
  {% endif %}
</div>
{% endblock %}
