{% extends "recipeForm.html" %}

{% block url %}
{% url 'editNote' note.id %}
{% endblock %}

{% block cancelButton %}

<div class="col s10 no-padding">
  <input class="recipe-form btn btn-success" type="submit"></input>
</div>
<div class="col s2">
  <a class="recipe-original-link" href="{% url 'note' note.id %}">
    Cancel
  </a>
</div>
{% endblock %}
<!--
<form class="recipe-form centered small" action="{% url 'editNote' note.id %}" method="post">
  <label class="recipe-form">
    Ingredients:
    <textarea class="materialize-textarea" name="ingredients">{{note.ingredients}}</textarea>
  </label>
  <br>
  <label class="recipe-form">
    Instructions:
    <textarea class="materialize-textarea" name="instructions">{{note.instructions}}</textarea>
  </label>
  <br>
  <label class="recipe-form">
    Image url:
    <input type="text" name="image" value="{{note.image}}"></input>
  </label>
  <br>
  <div class="row">
    <div class="col s4">
      <label class="recipe-form">
        Rating:<br>
        <fieldset class="rating">
          {% for i in rates %}
            {% if note.rating == i %}
              <input checked type="radio" id="star{{i}}" name="rating" value="{{i}}"><label class="full" for="star{{i}}" title=""></label>
            {% else %}
              <input type="radio" id="star{{i}}" name="rating" value="{{i}}"><label class="full" for="star{{i}}" title=""></label>
            {% endif %}
          {% endfor %}
        </fieldset>
      </label>
    </div>

      <div class="col s4">
        <label class="recipe-form">
          Difficulty:
          <select>
            <option name="difficulty" value="" disabled selected>Choose your option</option>
            <option name="difficulty" value="E">Easy</option>
            <option name="difficulty" value="M">Medium</option>
            <option name="difficulty" value="H">High</option>
          </select>
        </label>
      </div>
      <div class="col s4">
        <label class="recipe-form">
          Servings:
          <input type="text" class="form-control" name="servings"></input>
        </label>
      </div>
  </div>
  <label class="recipe-form">
    Notes:
    <textarea class="materialize-textarea" name="notes">{{note.text}}</textarea>
  </label>
  <br>
  <label class="recipe-form">
    Tags (one per line):
    <input type="text" name="tags" value="{{note.tags}}" data-role="materialtags" />
  </label>
  <div class="recipe-tags">
    {% for tag in tags %}
      <div class="recipe-tag to-add chip">
        {{tag}}
      </div>
    {% endfor %}
  </div>
  <br>
  {% csrf_token %}
  <div class="row">
    <div class="col s10 no-padding">
      <input class="recipe-form btn btn-success" type="submit"></input>
    </div>
    <div class="col s2">
      <a class="recipe-original-link" href="{% url 'note' note.id %}">
        Cancel
      </a>
    </div>
  </div>
</form>
<script>
  var removeListener = function() {
    $('.recipe-tag.to-add').click(function(e) {
      $('[name=tags]').materialtags('add', this.textContent.trim());
      this.remove();
    });
  }
  removeListener();
  $('[name=tags]').on('itemRemoved', function(event) {
    var val = event.item;
    $('.recipe-tags')
      .append('<div class="recipe-tag to-add chip">' + val + '</div>');
    removeListener();
  });
</script> -->
