{% extends "recipeBase.html" %}

{% block content %}
<!-- {% if user.is_authenticated %} -->
  {% for note in notes %}
    <div class="row recipe-small">
      <div
        class="recipe-image"
        style="float: left; background-image: url('{{note.recipe.image}}')"
      ></div>
      <div class="col-xs-8 recipe-title">
        <a href="{% url 'note' note.id %}">{{note.recipe.title}}</a>
        -
        <a class="recipe-original-link" href="{{note.recipe.url}}">
          (Go to original)
        </a>
      </div>
    </div>
  {% endfor %}
  <form action="{% url 'addNote' %}" method="post">
    <label>
      Recipe Url
      <input class="form-control" type="text" name="recipeUrl"/>
    </label>
    <br>
    <label>
      Notes:
      <textarea class="form-control" name="notes" rows="10" cols="50"></textarea>
    </label>
    <br>
    {% csrf_token %}
    <input type="submit"/>
  </form>
<!-- {% endif %} -->
{% endblock %}
