{% extends "recipeBase.html" %}

{% block content %}
<!-- {% if user.is_authenticated %} -->
  <div class="row centered small">
    <div class="col-sm-6">
      <a href="{% url 'addRecipe' %}" class="btn blue recipe-form">
        Add recipe
      </a>
    </div>
    <div class="col-sm-6">
      <a href="{% url 'addRecipes' %}" class="btn blue recipe-form">
        Add recipes bulk
      </a>
    </div>
  </div>
  <div class="row notes-container">
    {% for note in notes %}
      {% include 'smallRecipe.html' %}
    {% endfor %}
  </div>
<!-- {% endif %} -->
{% endblock %}
