{% extends "recipeBase.html" %}

{% block content %}
  <h5 style="text-align: center">
    <a href="{{note.url}}">
      {{note.title}}
    </a>
    {% if not edit %}
      <a class="recipe-original-link" href="{% url 'editNoteHtml' note.id %}">
        (Edit)
      </a>
    {% endif %}
    <a class="recipe-original-link" href="{% url 'deleteNoteHtml' note.id %}">
      (Delete)
    </a>
  </h5>
  {% if edit %}
    <form class="centered small" action="{% url 'editNote' note.id %}" method="post">
      <label class="recipe-form">
        Ingredients:
        <textarea class="materialize-textarea" name="ingredients">{{note.ingredients}}</textarea>
      </label>
      <br>
      <label class="recipe-form">
        Instructions:
        <textarea class="materialize-textarea" name="instructions">{{note.instructions}}</textarea>
      </label>
      <br>
      <label class="recipe-form">
        Image url:
        <input type="text" name="image" value="{{note.image}}"></input>
      </label>
      <br>
      <div class="row">
        <div class="col s4">
          <label class="recipe-form">
            Rating:<br>
            <fieldset class="rating">
              {% for i in rates %}
                {% if note.rating == i %}
                  <input checked type="radio" id="star{{i}}" name="rating" value="{{i}}"><label class="full" for="star{{i}}" title=""></label>
                {% else %}
                  <input type="radio" id="star{{i}}" name="rating" value="{{i}}"><label class="full" for="star{{i}}" title=""></label>
                {% endif %}
              {% endfor %}
            </fieldset>
          </label>
        </div>

          <div class="col s4">
            <label class="recipe-form">
              Difficulty:
              <select>
                <option name="difficulty" value="" disabled selected>Choose your option</option>
                <option name="difficulty" value="E">Easy</option>
                <option name="difficulty" value="M">Medium</option>
                <option name="difficulty" value="H">High</option>
              </select>
              <!-- <label>Materialize Select</label> -->
              <!-- <input type="text" class="form-control" name="difficulty"></input> -->
            </label>
          </div>
          <div class="col s4">
            <label class="recipe-form">
              Servings:
              <input type="text" class="form-control" name="servings"></input>
            </label>
          </div>
      </div>
      <label class="recipe-form">
        Notes:
        <textarea class="materialize-textarea" name="notes">{{note.text}}</textarea>
      </label>
      <br>
      <label class="recipe-form">
        Tags (one per line):
        <textarea class="materialize-textarea" name="tags">{{note.tags}}</textarea>
      </label>
      <br>
      {% csrf_token %}
      <div class="row">
        <div class="col s10 no-padding">
          <input class="recipe-form btn btn-success" type="submit"></input>
        </div>
        <div class="col s2">
          <a class="recipe-original-link" href="{% url 'note' note.id %}">
            Cancel
          </a>
        </div>
      </div>
    </form>
  {% else %}
    <div class="row">
      <div class="col s2">
        <div
          class="recipe-image"
          style="background-image: url('{{note.image}}')"
        ></div>
      </div>
      <div class="col s10">
        <div  class="recipe-details">
          Rating:
          {% if note.rating == -1 %}
          -
          {% else %}
            {% for i in note.rating_as_list %}
              <i class="fa fa-star"></i>
            {% endfor %}
          {% endif %}
        </div>
        <div class="recipe-details">
          Difficulty: {% if note.difficulty %} {{note.difficulty}} {% else %} - {% endif %}
        </div>
        <div class="recipe-details">
          Servings: {% if note.servings %} {{note.servings}} {% else %} - {% endif %}
        </div>
      </div>
    </div>
    {% if note.tags %}
      <div class="row">
        <div class="col m12">
          <h4> Tags </h4>
        </div>
        {% for tag in note.tags_as_list %}
          <a href="{% url 'tags' tag %}" class="recipe-tag">
            {{tag}}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="col m6">
        <div>
          <h4> Ingredients </h4>
          {% for ingredient in note.ingredients_as_list %}
              {{ ingredient }}<br>
          {% endfor %}
        </div>
        <div>
          <h4> Instructions </h4>
          {% for instructions in note.instructions_as_list %}
              {{ instructions }}<br>
          {% endfor %}
        </div>
      </div>
      <div class="col m6 recipe-note">
        <h4> Notes </h4>
        {{note.text}}
      </div>
    </div>
  {% endif %}
<!-- </div> -->
{% endblock %}
