{% extends "recipeBase.html" %}

{% block content %}
  <h5>
    <a href="{{note.recipe.url}}">
      {{note.recipe.title}}
    </a>
    {% if not edit %}
      <a class="recipe-original-link" href="{% url 'editNoteHtml' note.id %}">
        Edit
      </a>
    {% endif %}
  </h5>

  <div class="row">
    <div
      class="recipe-image"
      style="float: left; background-image: url('{{note.recipe.image}}')"
    ></div>
  </div>
  {% if edit %}
    <form action="{% url 'editNote' note.id %}" method="post">
      <label class="recipe-form">
        Ingredients:
        <textarea class="form-control" name="ingredients">{{note.recipe.ingredients}}</textarea>
      </label>
      <br>
      <label class="recipe-form">
        Instructions:
        <textarea class="form-control" name="instructions">{{note.recipe.instructions}}</textarea>
      </label>
      <br>
      <label class="recipe-form">
        Notes:
        <textarea class="form-control" name="notes">{{note.text}}</textarea>
      </label>
      <br>
      {% csrf_token %}
      <div class="row">
        <div class="col-xs-10 no-padding">
          <input class="recipe-form btn btn-success" type="submit"></input>
        </div>
        <div class="col-xs-2">
          <a class="recipe-original-link" href="{% url 'note' note.id %}">
            Cancel
          </a>
        </div>
      </div>
    </form>
  {% else %}
    <div>
      <h4> Ingredients </h4>
      {% for ingredient in note.recipe.ingredients_as_list %}
          {{ ingredient }}<br>
      {% endfor %}
    </div>
    <div>
      <h4> Instructions </h4>
      {% for instructions in note.recipe.instructions_as_list %}
          {{ instructions }}<br>
      {% endfor %}
    </div>
    <div>
      <h4> Notes </h4>
      {{note.text}}
    </div>
  {% endif %}
{% endblock %}
