{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Recipe keeper with notes">

  <!-- <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"> -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'js/materialize-tags/css/materialize-tags.min.css' %}">
  <link href="{% static 'css/recipes.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title>{% block title %}{% endblock %} - Recipe Managing</title>
</head>
<body class="recipe">

  <ul id="dropdown1" class="add-recipe-content dropdown-content">
    <li><a href="{% url 'addRecipe' %}">Add recipe</a></li>
    <li><a href="{% url 'addRecipes' %}">Add recipes bulk</a></li>
  </ul>
  <nav class="grey lighten-3">
    <div class="nav-wrapper">
      <a href="{% url 'recipesHome' %}" class="brand-logo">Recipe Manager</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li>
            <form action="{% url 'search' %}" method="get" >
              <div class="input-field">
                <input id="search" type="search" name="query" value="{{query}}">
                <label for="search"><i class="material-icons">search</i></label>
                <!-- <i class="material-icons">close</i> -->
              </div>
            </form>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">add</i></a>
          </li>
          <li>
            <a id="logout" href="{% url 'logout' %}" class="lighten-2 blue">Logout</a>
          </li>
        {% else %}
          <li>
            <a id="google_login" href="/soc/login/google-oauth2/?next=/recipes/" class="lighten-2 blue">
              Sign in with Google
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% if user.is_authenticated %}
          <li>
            <form action="{% url 'search' %}" method="get" >
              <div class="input-field">
                <input id="search" type="search" name="query" value="{{query}}">
                <label for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </li>
          <li>
            <i class="material-icons right">add</i>
          </li>
          <li><a href="{% url 'addRecipe' %}">Add recipe</a></li>
          <li><a href="{% url 'addRecipes' %}">Add recipes bulk</a></li>
          <li>
            <a id="logout" href="{% url 'logout' %}" class="lighten-2 blue">Logout</a>
          </li>
        {% else %}
          <li>
            <a id="google_login" href="/soc/login/google-oauth2/?next=/recipes/" class="lighten-2 blue">
              Sign in with Google
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% for error in errors %}
    <div class='recipe-general-error'>
      {{error}}
    </div>
  {% endfor %}
  {% for s in success %}
    <div class='recipe-general-success'>
      {{s}}
    </div>
  {% endfor %}
  <div class="content">
  <!-- <div class="recipe-content"> -->
    {% block content %}
      <div class="recipe-general-description">
        Keep track of recipes and notes
      </div>
    {% endblock %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
    $('select').material_select();
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44815814-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
<link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<script src="{% static 'js/materialize-tags/js/materialize-tags.min.js' %}"></script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- Compiled and minified JavaScript -->

<!-- <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
<script>
</script>
</html>
