{% extends "recipeBase.html" %}

{% block content %}
  <div class="row table-container notes-container">
    <table class="highlight">
      <thead>
        <tr>
          {% for field in fields%}
            <th class="table-header{% if field.selected %} selected{% endif %}">
              <a href="/recipes/table/{{field.field}}">
                {{field.display}}
              </a>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr>
            <td>
              <div
                class="recipe-image small"
                style="background-image: url('{{note.image}}')"
              ></div>
            </td>
            <td>
              <a href="{% url 'note' note.id %}">
                {{note.title}}
              </a>
            </td>
            <td>
              {{note.site}}
            </td>
            <td>
              {{note.difficulty}}
            </td>
            <td>
              {{note.servings}}
            </td>
            <!-- <td>
              {{note.date_added_formatted}}
            </td> -->
            <td>
              {% include 'ratingStars.html' %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
