{% load staticfiles %}
<script src="{% static 'closure-library/closure/goog/base.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/labs/useragent/util.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/labs/useragent/browser.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/labs/useragent/engine.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/useragent/useragent.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/dom/dom.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/debug/entrypointregistry.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/disposable/idisposable.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/disposable/disposable.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/events/event.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/reflect/reflect.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/events/browserevent.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/events/events.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/events/eventhandler.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/ui/idgenerator.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/events/eventtarget.js'%}"></script>
<script src="{% static 'closure-library/closure/goog/ui/component.js'%}"></script>
<script src="{% static 'js/portfolio/CardComponent.js'%}"></script>
